Repository simochee/defense-escape: changes, and which lefthook commands are due for each by the changed paths.
All: biome, sort-package-json

lefthook.yaml:

commit-msg:
  commands:
    commitlint:
      run: npx --no -- commitlint --edit $1

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |-
        npx biome check \
          --write \
          --unsafe \
          --no-errors-on-unmatched \
          --files-ignore-unknown=true \
          {staged_files}
      stage_fixed: true

    sort-package-json:
      glob: package.json
      run: npx sort-package-json
      stage_fixed: true

feat: google sheets
  entrypoints/background.ts
  entrypoints/google.content.ts
  locales/en.yaml
  locales/ja.yaml
  utils/confirm.ts
  utils/dom.ts
Due: biome

chore: extention icon
  README.md
  assets/icon.png
  entrypoints/google.content.ts
Due: biome

chore: initial version
  package.json
Due: biome, sort-package-json

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome, sort-package-json

Notes added by 'git notes add'
  e30f7897287755b0d69729510d6fe0c1e5f83749
Due: none

chore: harden runner
  .github/workflows/submit.yaml
Due: none

chore: harden runner (#3)
  .github/workflows/submit.yaml
Due: none

fix: package name
  package.json
Due: biome, sort-package-json

chore: code-assist style guide
  .gemini/styleguide.md
Due: none

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: biome, sort-package-json

Notes added by 'git notes add'
  a1c8fcf3af81199b62849afaad87e04a9cc65626
Due: none

chore: semantic release git
  CHANGELOG.md
  package.json
  release.config.js
Due: biome, sort-package-json

chore: code-assist config
  .gemini/config.yaml
Due: none

chore: actions timeline
  .github/workflows/submit.yaml
Due: none

docs: readme
  README.md
  screenshot.webp
Due: none

docs: readme
  README.md
Due: none

feat: excel support
  entrypoints/google.content.ts
  entrypoints/microsoft.content.ts
Due: biome

feat: excel support (#8)
  entrypoints/google.content.ts
  entrypoints/microsoft.content.ts
Due: biome

Notes added by 'git notes add'
  e169f77323d2bdb82ccbe372a473528b2255398f
Due: none

fix: excel iframe sandbox
  README.md
  entrypoints/iframe.content.ts
  entrypoints/microsoft.content.ts
  utils/dom.ts
Due: biome

fix: excel iframe sandbox (#10)
  README.md
  entrypoints/iframe.content.ts
  entrypoints/microsoft.content.ts
  utils/dom.ts
Due: biome

Notes added by 'git notes add'
  f0fb9bbb2918d3c1d5520d1cc542cb3756b202e4
Due: none
